*{
	font-size:12px;
	SCROLLBAR-FACE-COLOR: #fcfcfc;
	SCROLLBAR-HIGHLIGHT-COLOR: #fcfcfc;
	SCROLLBAR-SHADOW-COLOR: #fcfcfc;
	SCROLLBAR-3DLIGHT-COLOR: #acacac;
	SCROLLBAR-ARROW-COLOR: #6c6c6c;
	SCROLLBAR-TRACK-COLOR: #fcfcfc;
	SCROLLBAR-DARKSHADOW-COLOR: #acacac;
	SCROLLBAR-BASE-COLOR: #6c6c6c;
}
button, a.a_button, input.button{
	text-decoration: none;
	color:#000;
	height:20px;
	border-right: #6c6c6c 1px solid; 
	border-top: #acacac 1px solid; 
	border-left: #acacac 1px solid; 
	border-bottom: #6c6c6c 1px solid; 
	background-color: #ececec;
	vertical-align: bottom;
	padding:2px 3px;	
}
.info_title{
	text-decoration: none;
	color:#000;
	width:54px;
	text-align:center;
	border-right: #6c6c6c 1px solid; 
	border-top: #acacac 1px solid; 
	border-left: #acacac 1px solid; 
	border-bottom: #6c6c6c 1px solid; 
	vertical-align: bottom;
	
}
input,textarea{
	border: #acacac 1px solid; 
	width:120px;
}
cur_input{
	border: #acacac 1px solid; 
	background-color: info;
	width:120px;
}
body{
	text-align:center;
}
div{
	/* border:solid 1px green; */	
}
.center{
	text-align:left;
	width:641px;	
}
#menu, #search{
	
}
#left{
	float: left; 
	width:140px;
}
#right{
	float: left; 
	width:140px;
}
#middle{
	float:left;
	width:356px;
	height:554px;
}
#context{
	float: right;
	width:501px; 
}
.dia_title{
	background:url(images/dia_title.gif) no-repeat ;
	color:#FFF;
	font-weight:bold;
	font-size:12px;
	height:18px;
	padding:4px 0 0 5px;
}
.dia_content{
	background-image:url(images/dia_bg.gif);
	background-repeat:repeat-y;
	padding:4px 8px;
}
.dia_content2{
	background-image:url(images/dia_bg2.gif);
	background-repeat:repeat-y;
	padding-left:5px;
}
.list_item{
	text-align:left;
    background-image:url(images/hline1.gif);
	background-position:bottom left; 
	background-repeat:no-repeat;
	height:20px;
}
.dia_foot{
	background:url(images/dia_foot.gif) no-repeat ;
	margin: 0px;
	padding:0px;
	height:5px;
	font-size:1px;
}
.dia_foot2{
	background:url(images/dia_foot2.gif) no-repeat ;
	margin: 0px;
	padding:0px;
	height:5px;
	font-size:1px;
}
.m_title{
	background:url(images/title_pic.jpg) no-repeat ;
	height:178px; 
}
.bar{
	border-width:0;
	background:url(images/8.jpg) no-repeat ;
	margin: 0px;
	padding:0px;
	height:3px;
	font-size:1px;
}
.goods_pic{
	float:left;
	padding:10px;
	width:50px; 
	text-align:center;
}
.goods_info{
	float:right;
	width:200px;height:103px;
	padding:7px 10px 5px 0; 	
}
.page_info{
	clear:both;height:30px;
}
.m_content{
	vertical-align: top;
	background-image:url(images/bak3.gif);
	background-repeat:repeat-y;
}
.m_foot{
	background:url(images/9.jpg) no-repeat ;
	margin: 0px;
	padding:0px;
	width:356px;
	height:5px;
	font-size:1px;
}
.c_title{
	background-image:url(images/2t1.jpg);
	background-repeat:repeat-x;
	height:50px;
	font-weight:bold;
	padding:15px 0 0 10px; 
	color:#6c6c6c;
	font-size:18px;
}
.c_content{
	background-image:url(images/2bg1.gif);
	height:500px;
	padding:20px;
	text-align: left;
	vertical-align: top;
	color:#6C6C6C;
	width:501px;
}
.c_foot{
	background:url(images/2t2.jpg) no-repeat ;
	margin: 0px;
	padding:0px;
	height:5px;
	font-size:1px;
}
.button_bar{
	padding:15px;
	text-align:center;
}
th {
	text-align: right;
	vertical-align: center;
	color:#6C6C6C;
}
td {
	text-align: left;
	vertical-align: top;
	color:#6C6C6C;
}
form
{
	margin:0px;
}
a {
	text-decoration: underline;
	color:#6C6C6C;
}
a.menu {
	text-decoration: none;
	color:#666666;
	font-size:16px;
}
.green
{
	color:#4D8040;
}
a.green
{
	color:#4D8040;
	text-decoration:underline;
}
.light
{
	color:#7C7D7B;
}
a.light
{
	color:#7C7D7B;
	text-decoration:underline;
}
.red
{
	color:#A81D1D;
}
a.dark
{
	color:#646464;
	text-decoration:underline;
}
.bot
{
	color:#898E98;
}
a.bot
{
	color:#898E98;
	text-decoration:underline;
}
a.copy
{
	color:#9A9A9A;
	text-decoration:none;
}
.t11
{
	font-size:11px;
}